body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

header, .callout {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3, .callout {
  font-size: 23px;
}

p {
  font-size: 14px;
}

footer {
  background-color: dimgray;
}

footer p {
  font-size: 11px;
  color: white;
  text-align: left;
}
